.container{
    background-color: rgb(0, 110, 255);
    color: white;
    width: 100%;
    min-height: 400px;
}
.container h1{
    margin: 0;
    padding-top: 140px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}
.container p {
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.box{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    margin-top: -100px;
    margin-left: 30px;
    
   
}
img{
    border-radius: 50%;
    width: 100%;

}
h1{
   
    margin-left: 30px;
}